<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Seculart - Admin: User Block/Delete</title>
</head>

<body class="font-gilroy text-dark">
  <!-- Header -->
  <%- include('./components/header.html') %>

    <%- include('./components/admin-user-profile.html') %>

      <%- include('./components/footer.html') %>

        <script type="module" src="/src/main.js"></script>
</body>

</html>