<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Seculart - Admin: Project Approve/Reject</title>
</head>

<body class="bg-gray-50 font-gilroy">

  <%- include('components/header.html') %>

    <main>
      <%- include('components/project-detail.html') %>
        <%- include('components/tokenomics.html') %>
          <%- include('components/project-team.html') %>
            <%- include('components/project-feedback.html') %>
    </main>

    <%- include('components/footer.html') %>

      <script type="module" src="/src/main.js"></script>
</body>

</html>