<div class="flex bg-white lg:pt-12 lg:pb-24 pt-8 pb-12">
  <div class="container max-w-[1340px] w-full mx-auto px-4 flex gap-5 flex-col lg:flex-row">

    <div class="lg:max-w-72 xl:max-w-80 max-w-full w-full flex-shrink-0">
      <div class="bg-white">

        <div class="flex items-center gap-4 mb-5">
          <div class="flex justify-center">
            <img src="/img/project-pic.png" alt="User Profile" class="size-[120px] min-w-[120px] object-cover">
          </div>

          <div class="flex flex-col gap-2">
            <h2 class="text-xl font-bold text-dark">John Johnson</h2>
            <p class="text-sm text-dark line-clamp-1 max-w-28  break-all">
              0x45d2cg5f4g2d1g23dg1agdg4b5ddg4a56dg40x45d2cg5f4g2d1g23dg1agdg4b5ddg4a56dg4</p>
          </div>
        </div>


        <div class="flex flex-col md:flex-row gap-2 mb-5">
          <button
            class="px-4 py-2 text-sm font-bold flex items-center border border-[#8e6100] gap-2 justify-center bg-white text-[#8e6100] rounded-md hover:bg-[#8e6100] hover:text-white transition-colors group w-full">
            Scam
            <img src="./img/icons/shield.svg" alt="shield" class="size-4 group-hover:[filter:invert(1)]">
          </button>

          <button
            class="px-4 py-2 text-sm font-bold flex items-center border border-dark gap-2 justify-center bg-white text-dark rounded-md hover:bg-dark hover:text-white transition-colors group w-full">
            Block
            <img src="./img/icons/ban.svg" alt="ban" class="size-4 group-hover:[filter:invert(1)]">
          </button>

          <button
            class="px-4 py-2 text-sm font-bold flex items-center border border-accent gap-2 justify-center bg-white text-accent rounded-md hover:bg-accent hover:text-white transition-colors group w-full">
            Delete
            <img src="./img/icons/trash.svg" alt="trash" class="size-4 group-hover:[filter:invert(1)]">
          </button>
        </div>

        <nav class="flex flex-col gap-2">
          <button
            class="w-full flex items-center gap-3 p-3 text-left rounded-md bg-[#f4f4f4] text-dark font-medium border-b border-[#e5e5e5]">
            <img src="/img/icons/projects.svg" alt="Projects" class="size-5">
            <span class="text-sm font-semibold">Projects</span>
          </button>

          <button
            class="w-full flex items-center gap-3 p-3 text-left rounded-md bg-white hover:bg-[#f4f4f4] text-dark font-medium border-b border-[#e5e5e5]">
            <img src="/img/icons/investments.svg" alt="Investments" class="size-5">
            <span class="text-sm font-semibold">Investments</span>
          </button>

          <button
            class="w-full flex items-center gap-3 p-3 text-left rounded-md bg-white hover:bg-[#f4f4f4] text-dark font-medium border-b border-[#e5e5e5]">
            <img src="/img/icons/settings.svg" alt="Settings" class="size-5">
            <span class="text-sm font-semibold">Settings</span>
          </button>
        </nav>
      </div>
    </div>

    <div class="flex-1 flex flex-col">

      <div class="bg-white mb-5">
        <div class="flex items-center justify-between gap-5">
          <h1 class="text-3xl font-semibold text-dark">Users Projects</h1>
          <div class="flex items-center max-w-56 w-full relative">
            <select
              class="appearance-none px-4 py-3 border border-[#e5e5e5] rounded-lg text-sm font-semibold focus:outline-none bg-white cursor-pointer max-w-56 w-full">
              <option>Recent</option>
              <option>Oldest</option>
              <option>Most Funded</option>
            </select>

            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="absolute right-4 top-1/2 -translate-y-1/2 pointer-events-none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7.30997 9.49672C7.22794 9.57865 7.11674 9.62466 7.00081 9.62466C6.88487 9.62466 6.77367 9.57865 6.69164 9.49672L2.31664 5.12172C2.23936 5.03878 2.19729 4.92909 2.19929 4.81574C2.20129 4.7024 2.2472 4.59426 2.32736 4.5141C2.40752 4.43395 2.51566 4.38803 2.629 4.38603C2.74234 4.38403 2.85204 4.4261 2.93497 4.50338L7.00081 8.56922L11.0666 4.50338C11.1067 4.4604 11.155 4.42592 11.2087 4.40201C11.2623 4.3781 11.3203 4.36524 11.379 4.3642C11.4377 4.36317 11.4961 4.37397 11.5506 4.39598C11.605 4.41798 11.6545 4.45073 11.6961 4.49228C11.7376 4.53382 11.7704 4.58331 11.7924 4.63778C11.8144 4.69226 11.8252 4.75061 11.8242 4.80935C11.8231 4.8681 11.8103 4.92603 11.7863 4.9797C11.7624 5.03336 11.728 5.08166 11.685 5.12172L7.30997 9.49672Z"
                fill="black" />
            </svg>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">

        <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4">
          <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">

          <div class="p-4 flex flex-col gap-5">
            <div class="flex items-start justify-between gap-5">
              <div class="flex flex-col gap-2">
                <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                <p class="text-sm text-dark">Founder name: John Doe</p>
                <p class="text-sm text-dark">UK, preprod, comedy</p>
              </div>

              <div class="flex items-center gap-1">
                <p class="text-lg font-bold text-dark">0.2 USDC</p>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-1 flex-wrap">
                <div class="flex items-center gap-1">
                  <img src="./img/icons/check-1.svg" alt="check" class="size-4">
                  <p class="text-sm font-bold text-dark">$20,000</p>
                </div>
                <p class="text-sm text-dark">of $1,000,000 invested.</p>
              </div>

              <div class="w-full h-1 bg-[#e8e8e8]">
                <div class="w-[30%] bg-dark h-1"></div>
              </div>
            </div>


            <div class="flex gap-2 mt-auto">
              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-[#e5e5e5] gap-1 justify-center bg-white text-dark rounded-md hover:bg-dark hover:text-white transition-colors group flex-1">
                Edit
                <img src="./img/icons/edit.svg" alt="edit" class="size-4 group-hover:[filter:invert(1)]">
              </button>

              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-accent gap-1 justify-center bg-white text-accent rounded-md hover:bg-accent hover:text-white transition-colors group flex-1">
                Delete
                <img src="./img/icons/trash.svg" alt="trash" class="size-4 group-hover:[filter:invert(1)]">
              </button>
            </div>
          </div>
        </div>

        <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4">
          <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">

          <div class="p-4 flex flex-col gap-5">
            <div class="flex items-start justify-between gap-5">
              <div class="flex flex-col gap-2">
                <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                <p class="text-sm text-dark">Founder name: John Doe</p>
                <p class="text-sm text-dark">UK, preprod, comedy</p>
              </div>

              <div class="flex items-center gap-1">
                <p class="text-lg font-bold text-dark">0.2 USDC</p>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-1 flex-wrap">
                <div class="flex items-center gap-1">
                  <img src="./img/icons/check-1.svg" alt="check" class="size-4">
                  <p class="text-sm font-bold text-dark">$20,000</p>
                </div>
                <p class="text-sm text-dark">of $1,000,000 invested.</p>
              </div>

              <div class="w-full h-1 bg-[#e8e8e8]">
                <div class="w-[30%] bg-dark h-1"></div>
              </div>
            </div>


            <div class="flex gap-2 mt-auto">
              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-[#e5e5e5] gap-1 justify-center bg-white text-dark rounded-md hover:bg-dark hover:text-white transition-colors group flex-1">
                Edit
                <img src="./img/icons/edit.svg" alt="edit" class="size-4 group-hover:[filter:invert(1)]">
              </button>

              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-accent gap-1 justify-center bg-white text-accent rounded-md hover:bg-accent hover:text-white transition-colors group flex-1">
                Delete
                <img src="./img/icons/trash.svg" alt="trash" class="size-4 group-hover:[filter:invert(1)]">
              </button>
            </div>
          </div>
        </div>

        <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4">
          <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">

          <div class="p-4 flex flex-col gap-5">
            <div class="flex items-start justify-between gap-5">
              <div class="flex flex-col gap-2">
                <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                <p class="text-sm text-dark">Founder name: John Doe</p>
                <p class="text-sm text-dark">UK, preprod, comedy</p>
              </div>

              <div class="flex items-center gap-1">
                <p class="text-lg font-bold text-dark">0.2 USDC</p>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-1 flex-wrap">
                <div class="flex items-center gap-1">
                  <img src="./img/icons/check-1.svg" alt="check" class="size-4">
                  <p class="text-sm font-bold text-dark">$20,000</p>
                </div>
                <p class="text-sm text-dark">of $1,000,000 invested.</p>
              </div>

              <div class="w-full h-1 bg-[#e8e8e8]">
                <div class="w-[30%] bg-dark h-1"></div>
              </div>
            </div>


            <div class="flex gap-2 mt-auto">
              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-[#e5e5e5] gap-1 justify-center bg-white text-dark rounded-md hover:bg-dark hover:text-white transition-colors group flex-1">
                Edit
                <img src="./img/icons/edit.svg" alt="edit" class="size-4 group-hover:[filter:invert(1)]">
              </button>

              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-accent gap-1 justify-center bg-white text-accent rounded-md hover:bg-accent hover:text-white transition-colors group flex-1">
                Delete
                <img src="./img/icons/trash.svg" alt="trash" class="size-4 group-hover:[filter:invert(1)]">
              </button>
            </div>
          </div>
        </div>

        <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4">
          <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">

          <div class="p-4 flex flex-col gap-5">
            <div class="flex items-start justify-between gap-5">
              <div class="flex flex-col gap-2">
                <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                <p class="text-sm text-dark">Founder name: John Doe</p>
                <p class="text-sm text-dark">UK, preprod, comedy</p>
              </div>

              <div class="flex items-center gap-1">
                <p class="text-lg font-bold text-dark">0.2 USDC</p>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-1 flex-wrap">
                <div class="flex items-center gap-1">
                  <img src="./img/icons/check-1.svg" alt="check" class="size-4">
                  <p class="text-sm font-bold text-dark">$20,000</p>
                </div>
                <p class="text-sm text-dark">of $1,000,000 invested.</p>
              </div>

              <div class="w-full h-1 bg-[#e8e8e8]">
                <div class="w-[30%] bg-dark h-1"></div>
              </div>
            </div>


            <div class="flex gap-2 mt-auto">
              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-[#e5e5e5] gap-1 justify-center bg-white text-dark rounded-md hover:bg-dark hover:text-white transition-colors group flex-1">
                Edit
                <img src="./img/icons/edit.svg" alt="edit" class="size-4 group-hover:[filter:invert(1)]">
              </button>

              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-accent gap-1 justify-center bg-white text-accent rounded-md hover:bg-accent hover:text-white transition-colors group flex-1">
                Delete
                <img src="./img/icons/trash.svg" alt="trash" class="size-4 group-hover:[filter:invert(1)]">
              </button>
            </div>
          </div>
        </div>

        <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4">
          <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">

          <div class="p-4 flex flex-col gap-5">
            <div class="flex items-start justify-between gap-5">
              <div class="flex flex-col gap-2">
                <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                <p class="text-sm text-dark">Founder name: John Doe</p>
                <p class="text-sm text-dark">UK, preprod, comedy</p>
              </div>

              <div class="flex items-center gap-1">
                <p class="text-lg font-bold text-dark">0.2 USDC</p>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-1 flex-wrap">
                <div class="flex items-center gap-1">
                  <img src="./img/icons/check-1.svg" alt="check" class="size-4">
                  <p class="text-sm font-bold text-dark">$20,000</p>
                </div>
                <p class="text-sm text-dark">of $1,000,000 invested.</p>
              </div>

              <div class="w-full h-1 bg-[#e8e8e8]">
                <div class="w-[30%] bg-dark h-1"></div>
              </div>
            </div>


            <div class="flex gap-2 mt-auto">
              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-[#e5e5e5] gap-1 justify-center bg-white text-dark rounded-md hover:bg-dark hover:text-white transition-colors group flex-1">
                Edit
                <img src="./img/icons/edit.svg" alt="edit" class="size-4 group-hover:[filter:invert(1)]">
              </button>

              <button
                class="px-3 py-3 text-xs font-bold flex items-center border border-accent gap-1 justify-center bg-white text-accent rounded-md hover:bg-accent hover:text-white transition-colors group flex-1">
                Delete
                <img src="./img/icons/trash.svg" alt="trash" class="size-4 group-hover:[filter:invert(1)]">
              </button>
            </div>
          </div>
        </div>



      </div>

      <!-- Pagination -->
      <div class="flex justify-center mt-8" hidden>
        <nav class="flex items-center gap-1">
          <button
            class="flex items-center justify-center px-2 py-1 size-6 text-sm bg-white text-dark border border-dark">1</button>
          <button class="flex items-center justify-center px-2 py-1 size-6 text-sm bg-white text-dark">2</button>
          <button class="flex items-center justify-center px-2 py-1 size-6 text-sm bg-white text-dark">3</button>
          <span class="px-2 py-1 text-sm text-dark">...</span>
          <button class="flex items-center justify-center px-2 py-1 size-6 text-sm bg-white text-dark">59</button>
        </nav>
      </div>

    </div>
  </div>
</div>