<!-- Шаг 5: Success -->
<div id="step-5" class="space-y-8 hidden">

  <!-- Центрированный контент -->
  <div class="text-center py-16">

    <!-- Заголовок -->
    <h1 class="lg:text-4xl text-2xl font-semibold text-dark mb-5">
      Your project has been <br /> successfully created!
    </h1>

    <!-- Описание -->
    <p class="text-base text-dark mb-5">
      Go to your project management panel to change it.
    </p>

    <!-- Кнопка -->
    <button type="button"
      class="bg-[#27ae60] text-white px-6 py-3 rounded-lg font-bold text-base hover:bg-green-700 transition-colors">
      Manage Projects
    </button>

  </div>

</div>