<header class="bg-white sticky top-0 z-50">
  <div class="container max-w-[1920px] w-full mx-auto px-4">
    <div class="relative flex items-center justify-between py-3">
      <div class="flex items-center gap-10 lg:gap-24">
        <a href="/" class="flex items-center">
          <img src="/img/logo-black.svg" alt="Seculart Logo" class="w-28 min-w-28">
        </a>
        <nav class="hidden lg:flex items-center gap-10 text-sm font-medium text-primary">
          <a href="#" class="hover:text-accent transition-all duration-300">explore</a>
          <a href="#" class="hover:text-accent transition-all duration-300">about</a>
          <a href="#" class="hover:text-accent transition-all duration-300">settings</a>
        </nav>
      </div>

      <div class="flex-1 lg:flex hidden justify-center px-8 xl:px-16">
        <div class="w-full max-w-[480px]">
          <label for="search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <img src="/img/icons/search.svg" alt="Search" class="size-5">
            </div>
            <input id="search" name="search"
              class="block w-full bg-white border border-[#e5e5e5] rounded-md py-2.5 pl-10 pr-3 text-sm placeholder-[#c5c5c5] focus:outline-none focus:bg-white focus:border-[#b3b2b2] focus:ring-0 text-primary"
              placeholder="Search" type="search">
          </div>
        </div>
      </div>

      <div class="flex items-center space-x-4">
        <!-- Mobile search button -->
        <button type="button" id="mobile-search-button" class="lg:hidden p-2 -mr-2">
          <img src="/img/icons/search.svg" alt="Search" class="size-6 fill-primary text-primary filter invert">
        </button>

        <a href="#" class="hidden sm:flex items-center space-x-2 text-sm font-bold text-primary">
          <svg class="w-5 h-5 text-accent" fill="currentColor" viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="4" />
          </svg>
          <span>START PROJECT</span>
        </a>
        <button class="flex items-center justify-center w-10 h-10 bg-dark text-white rounded-md">
          <img src="/img/icons/user.svg" alt="User" class="size-6">
        </button>
        <button id="burger-btn-main" class="lg:hidden p-2 rounded-md hover:bg-gray-100 transition-colors z-50">
          <svg id="burger-icon" class="w-6 h-6 text-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
          <svg id="close-icon" class="w-6 h-6 hidden text-primary" fill="none" stroke="currentColor"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
    <div id="mobile-menu-main" class="lg:hidden hidden fixed top-0 left-0 w-full h-full bg-white z-40 pt-20">
      <div class="container max-w-7xl w-full mx-auto px-4 py-4 flex flex-col">
        <a href="#" class="block text-dark rounded-md transition-colors py-3 px-3 text-lg">explore</a>
        <a href="#" class="block text-dark rounded-md transition-colors py-3 px-3 text-lg">about</a>
        <a href="#" class="block text-dark rounded-md transition-colors py-3 px-3 text-lg">settings</a>

        <div class="border-t my-4"></div>

        <a href="#"
          class="flex items-center space-x-2 text-sm font-bold text-primary hover:bg-gray-100 rounded-md py-3 px-3">
          <svg class="w-2.5 h-2.5 text-red-500" fill="currentColor" viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="4" />
          </svg>
          <span>START PROJECT</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Mobile Search Overlay -->
  <div id="mobile-search-overlay" class="hidden lg:hidden absolute top-full left-0 w-full bg-white border-t">
    <div class="p-4">
      <input id="mobile-search-input" name="search"
        class="block w-full bg-white border border-[#e5e5e5] rounded-md py-2.5 px-4 text-sm placeholder-[#c5c5c5] focus:outline-none focus:bg-white focus:border-[#b3b2b2] focus:ring-0 text-primary"
        placeholder="Search..." type="search">
    </div>
  </div>
</header>