<div class="bg-white lg:my-12 my-8">
  <div class="container max-w-[1340px] w-full mx-auto px-4">

    <!-- Табы -->
    <div class="flex gap-10 mb-5">
      <button class="text-lg font-bold text-dark border-b-2 border-dark hover:border-dark">Feedback</button>
      <button class="text-lg font-medium text-dark border-b-2 border-transparent hover:border-dark">Ideas</button>
      <button class="text-lg font-medium text-dark border-b-2 border-transparent hover:border-dark">Updates</button>
    </div>

    <!-- Форма отправки фидбека -->
    <div class="lg:mb-10 mb-8">
      <textarea placeholder="Write your feedback here..."
        class="w-full h-32 lg:h-56 p-4 lg:p-6 border border-[#e5e5e5] rounded-md text-sm text-dark placeholder-[#919191] resize-none focus:outline-none focus:border-dark"></textarea>

      <div class="flex justify-end mt-5">
        <button
          class="px-6 py-2 bg-dark text-white font-bold border border-dark text-sm rounded-md hover:bg-white hover:text-dark hover:border-dark hover:border transition-colors group flex items-center gap-2">
          Send
          <img src="./img/icons/send-white.svg" alt="send-white"
            class="size-4 group-hover:[filter:invert(1)] group-hover:translate-x-[4px] transition-all duration-300">
        </button>
      </div>
    </div>

    <!-- Список комментариев -->
    <div class="flex flex-col gap-5">

      <div class="flex gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="w-24 h-24 overflow-hidden flex-shrink-0">
          <img src="/img/project-pic.png" alt="Vernon Kenny" class="w-full h-full object-cover bg-gray-200">
        </div>
        <div class="flex-1">
          <div class="flex items-center gap-2 mb-2">
            <h4 class="font-bold text-dark text-sm">Vernon Kenny</h4>

            <img src="./img/icons/check-3.svg" alt="check" class="size-5">
          </div>
          <p class="text-sm text-dark leading-normal">
            Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus phasellus. Ut augue odio a ac
            imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus id malesuada. Gravida sociis in a
            donec sed diam porta nulla. Dictum non id in dictum natoque pellentesque aliquet. Eros facilisis lorem
            tempus nec amet integer. Ante dolor elit in faucibus.
          </p>
        </div>
      </div>

      <div class="flex gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="w-24 h-24 overflow-hidden flex-shrink-0">
          <img src="/img/project-pic.png" alt="Vernon Kenny" class="w-full h-full object-cover bg-gray-200">
        </div>
        <div class="flex-1">
          <div class="flex items-center gap-2 mb-2">
            <h4 class="font-bold text-dark text-sm">Vernon Kenny</h4>

          </div>
          <p class="text-sm text-dark leading-normal">
            Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus phasellus. Ut augue odio a ac
            imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus id malesuada. Gravida sociis in a
            donec sed diam porta nulla. Dictum non id in dictum natoque pellentesque aliquet. Eros facilisis lorem
            tempus nec amet integer. Ante dolor elit in faucibus.
          </p>
        </div>
      </div>

      <div class="flex gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="w-24 h-24 overflow-hidden flex-shrink-0">
          <img src="/img/project-pic.png" alt="Vernon Kenny" class="w-full h-full object-cover bg-gray-200">
        </div>
        <div class="flex-1">
          <div class="flex items-center gap-2 mb-2">
            <h4 class="font-bold text-dark text-sm">Vernon Kenny</h4>

            <img src="./img/icons/check-3.svg" alt="check" class="size-5">
          </div>
          <p class="text-sm text-dark leading-normal">
            Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus phasellus. Ut augue odio a ac
            imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus id malesuada. Gravida sociis in a
            donec sed diam porta nulla. Dictum non id in dictum natoque pellentesque aliquet. Eros facilisis lorem
            tempus nec amet integer. Ante dolor elit in faucibus.
          </p>
        </div>
      </div>

      <div class="flex gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="w-24 h-24 overflow-hidden flex-shrink-0">
          <img src="/img/project-pic.png" alt="Vernon Kenny" class="w-full h-full object-cover bg-gray-200">
        </div>
        <div class="flex-1">
          <div class="flex items-center gap-2 mb-2">
            <h4 class="font-bold text-dark text-sm">Vernon Kenny</h4>

          </div>
          <p class="text-sm text-dark leading-normal">
            Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus phasellus. Ut augue odio a ac
            imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus id malesuada. Gravida sociis in a
            donec sed diam porta nulla. Dictum non id in dictum natoque pellentesque aliquet. Eros facilisis lorem
            tempus nec amet integer. Ante dolor elit in faucibus.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>