<div class="bg-white lg:my-12 my-8">
  <div class="container max-w-[1340px] w-full mx-auto px-4">

    <h2 class="text-3xl font-bold text-dark mb-5">Project team</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">

      <div class="flex items-center gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="size-24 overflow-hidden bg-gray-200">
          <img src="/img/project-pic.png" alt="Walter Raichel" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-bold text-dark text-sm">Walter Raichel</h3>
          <p class="text-xs text-dark">Dynamic Internet Coordinator</p>
        </div>
      </div>

      <div class="flex items-center gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="size-24 overflow-hidden bg-gray-200">
          <img src="/img/project-pic.png" alt="Walter Raichel" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-bold text-dark text-sm">Walter Raichel</h3>
          <p class="text-xs text-dark">Dynamic Internet Coordinator</p>
        </div>
      </div>

      <div class="flex items-center gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="size-24 overflow-hidden bg-gray-200">
          <img src="/img/project-pic.png" alt="Walter Raichel" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-bold text-dark text-sm">Walter Raichel</h3>
          <p class="text-xs text-dark">Dynamic Internet Coordinator</p>
        </div>
      </div>

      <div class="flex items-center gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="size-24 overflow-hidden bg-gray-200">
          <img src="/img/project-pic.png" alt="Walter Raichel" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-bold text-dark text-sm">Walter Raichel</h3>
          <p class="text-xs text-dark">Dynamic Internet Coordinator</p>
        </div>
      </div>

      <div class="flex items-center gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="size-24 overflow-hidden bg-gray-200">
          <img src="/img/project-pic.png" alt="Walter Raichel" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-bold text-dark text-sm">Walter Raichel</h3>
          <p class="text-xs text-dark">Dynamic Internet Coordinator</p>
        </div>
      </div>

      <div class="flex items-center gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="size-24 overflow-hidden bg-gray-200">
          <img src="/img/project-pic.png" alt="Walter Raichel" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-bold text-dark text-sm">Walter Raichel</h3>
          <p class="text-xs text-dark">Dynamic Internet Coordinator</p>
        </div>
      </div>

      <div class="flex items-center gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="size-24 overflow-hidden bg-gray-200">
          <img src="/img/project-pic.png" alt="Walter Raichel" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-bold text-dark text-sm">Walter Raichel</h3>
          <p class="text-xs text-dark">Dynamic Internet Coordinator</p>
        </div>
      </div>

      <div class="flex items-center gap-5 border-b border-[#e5e5e5] pb-5">
        <div class="size-24 overflow-hidden bg-gray-200">
          <img src="/img/project-pic.png" alt="Walter Raichel" class="w-full h-full object-cover">
        </div>
        <div class="flex flex-col gap-1">
          <h3 class="font-bold text-dark text-sm">Walter Raichel</h3>
          <p class="text-xs text-dark">Dynamic Internet Coordinator</p>
        </div>
      </div>

    </div>
  </div>
</div>