<div class="bg-white lg:my-12 my-8">
  <div class="container max-w-[1340px] w-full mx-auto px-4">

    <div class="flex lg:gap-14 gap-8 flex-col lg:flex-row">

      <div class="lg:max-w-[400px] xl:max-w-[642px]  w-full flex-shrink-0">
        <img src="/img/project-pic.png" alt="Project" class="w-full h-auto max-h-[400px] lg:max-h-none object-cover">
      </div>

      <div class="flex-1">

        <div class="mb-5">
          <div class="py-1 px-2 bg-[#b81a00] text-white text-xs font-semibold w-fit rounded">
            closed funding
          </div>

          <div class="flex items-start justify-between gap-5">
            <div>
              <h1 class="lg:text-4xl text-3xl font-bold text-dark mb-5">Project #145678</h1>
              <p class="text-base text-dark mb-1">Andrey Tarkovski</p>
              <p class="text-sm text-dark mb-1">UK, preprod, Arthouse comedy</p>
              <p class="text-sm text-dark mb-1">www.pictire.com</p>
            </div>

            <div class="flex items-center gap-2 py-1 px-3 border border-dark rounded w-fit">
              <div>
                <img src="./img/icons/arrow-up.svg" alt="arrow-up" class="size-3">
              </div>
              <div>246</div>
              <div>
                <img src="./img/icons/arrow-down.svg" alt="arrow-down" class="size-3">
              </div>
            </div>
          </div>

        </div>

        <div class="mb-5">
          <h3 class="font-bold text-dark mb-2">Project description</h3>
          <p class="text-sm text-dark leading-relaxed">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has passages...
          </p>
        </div>

        <div class="mb-5 border-b border-[#e5e5e5] pb-5">
          <div class="flex items-center gap-2 mb-2">
            <span class="text-sm font-bold text-dark">Project stages</span>
          </div>
          <div class="flex flex-wrap gap-2 mb-2">
            <div class="flex items-center gap-2">
              <img src="./img/icons/check-3.svg" alt="check-1" class="size-5">
              <p class="text-xs text-dark">Development</p>
            </div>

            <div class="text-sm text-dark"> - </div>

            <div class="flex items-center gap-2">
              <img src="./img/icons/check-3.svg" alt="check-1" class="size-5">
              <p class="text-xs text-dark">Pre-Production</p>
            </div>

            <div class="text-sm text-dark"> - </div>

            <div class="flex items-center gap-2">
              <img src="./img/icons/clock.svg" alt="clock" class="size-5">
              <p class="text-xs text-dark">Production</p>
            </div>

            <div class="text-sm text-dark"> - </div>

            <div class="flex items-center gap-2">
              <p class="text-xs text-[#939393]">Post-Production</p>
            </div>

            <div class="text-sm text-dark"> - </div>

            <div class="flex items-center gap-2">
              <p class="text-xs text-[#939393]">Distribution</p>
            </div>
          </div>
          <p class="text-sm text-dark">Production stage <i>will end in 1 month</i></p>
        </div>

        <div class="mb-5">
          <div class="flex items-center gap-10 mb-5">
            <div>
              <span class="text-lg text-dark">Coin: </span>
              <span class="font-bold text-lg text-dark">TARK1</span>
            </div>
            <div>
              <span class="text-lg text-dark">Price: </span>
              <span class="font-bold text-lg text-dark">1 USDC</span>
            </div>
          </div>

          <div class="border border-[#b81a00] rounded-md p-4 lg:p-6 mb-4 flex flex-col lg:flex-row gap-5 lg:gap-10">
            <div class="flex flex-col gap-2 flex-1">
              <div class="flex items-center gap-2">
                <span class="text-sm font-bold text-[#b81a00]">$20,000</span>
                <span class="text-sm text-[#b81a00]">of $1,000,000 invested.</span>
              </div>

              <div>
                <div class="w-full h-1 bg-[#e8e8e8] rounded">
                  <div class="w-[80%] h-full bg-dark rounded"></div>
                </div>
              </div>

              <p class="text-xs text-dark">47 Investors | Funding closes: 01.12.2025</p>
            </div>

            <div class="flex items-start gap-1">
              <button
                class="md:w-44 w-full flex items-center justify-center gap-2 bg-dark text-white font-bold py-3 px-6 rounded-md hover:bg-gray-800 transition-colors mb-3">
                Claim refund
              </button>
            </div>

          </div>

          <div class="flex flex-col gap-1">
            <div class="flex items-center gap-5">
              <span class="text-sm text-dark min-w-28 w-fit">Originality</span>
              <div class="flex items-center gap-0.5">
                <img src="./img/icons/star-black.svg" alt="star" class="size-4">
                <img src="./img/icons/star-black.svg" alt="star" class="size-4">
                <img src="./img/icons/star-black.svg" alt="star" class="size-4">
                <img src="./img/icons/star-black.svg" alt="star" class="size-4">
                <img src="./img/icons/star-black.svg" alt="star" class="size-4">
                <img src="./img/icons/star-black.svg" alt="star" class="size-4">
                <img src="./img/icons/star-black.svg" alt="star" class="size-4">
                <img src="./img/icons/star-black.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
              </div>
            </div>
            <div class="flex items-center gap-5">
              <span class="text-sm text-dark min-w-28 w-fit">Team Capability</span>
              <div class="flex items-center gap-0.5">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
              </div>
            </div>
            <div class="flex items-center gap-5">
              <span class="text-sm text-dark min-w-28 w-fit">Budget accuracy</span>
              <div class="flex items-center gap-0.5">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
                <img src="./img/icons/star-empty.svg" alt="star" class="size-4">
              </div>
            </div>
          </div>

          <div class="flex items-center gap-2 mt-5">
            <a href="#"
              class="rounded-full flex items-center justify-center hover:scale-110 transition-all duration-300">
              <img src="/img/icons/twitter-black.svg" alt="Facebook" class="w-6 h-6">
            </a>
            <a href="#"
              class="rounded-full flex items-center justify-center hover:scale-110 transition-all duration-300">
              <img src="/img/icons/facebook-black.svg" alt="Twitter" class="w-6 h-6">
            </a>
            <a href="#" class="rounded-full flex items-center justify-center">
              <img src="/img/icons/youtube-black.svg" alt="Behance" class="w-6 h-6">
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>