<div class="bg-white lg:my-12 my-8">
  <div class="container max-w-[1340px] w-full mx-auto px-4">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">

      <div class="flex flex-col gap-5">
        <h3 class="text-3xl font-semibold text-dark">Updates</h3>

        <div class="flex flex-col gap-5">
          <div class="flex  gap-5 border-b border-[#e5e5e5] pb-5">
            <div class="size-32 min-w-32">
              <img src="./img/project-pic.png" alt="pic" class=" max-w-full w-full h-full object-cover">
            </div>
            <div class="flex flex-col gap-2">
              <h3 class="text-xl font-bold text-dark">Update Title</h3>
              <p class="text-sm text-dark">Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus
                phasellus. Ut augue odio a ac imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus
                id malesuada. Gravida sociis in a donec sed diam porta nulla. Dictum non id in dictum </p>
              <a href="#" class="text-sm text-dark underline">Read More</a>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex  gap-5 border-b border-[#e5e5e5] pb-5">
            <div class="size-32 min-w-32">
              <img src="./img/project-pic.png" alt="pic" class=" max-w-full w-full h-full object-cover">
            </div>
            <div class="flex flex-col gap-2">
              <h3 class="text-xl font-bold text-dark">Update Title</h3>
              <p class="text-sm text-dark">Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus
                phasellus. Ut augue odio a ac imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus
                id malesuada. Gravida sociis in a donec sed diam porta nulla. Dictum non id in dictum </p>
              <a href="#" class="text-sm text-dark underline">Read More</a>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex  gap-5 border-b border-[#e5e5e5] pb-5">
            <div class="size-32 min-w-32">
              <img src="./img/project-pic.png" alt="pic" class=" max-w-full w-full h-full object-cover">
            </div>
            <div class="flex flex-col gap-2">
              <h3 class="text-xl font-bold text-dark">Update Title</h3>
              <p class="text-sm text-dark">Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus
                phasellus. Ut augue odio a ac imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus
                id malesuada. Gravida sociis in a donec sed diam porta nulla. Dictum non id in dictum </p>
              <a href="#" class="text-sm text-dark underline">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-5">
        <h3 class="text-3xl font-semibold text-dark">Feedback</h3>

        <div class="flex flex-col gap-5">
          <div class="flex  gap-5 border-b border-[#e5e5e5] pb-5">
            <div class="size-32 min-w-32">
              <img src="./img/project-pic.png" alt="pic" class=" max-w-full w-full h-full object-cover">
            </div>
            <div class="flex flex-col gap-2">
              <h3 class="text-xl font-bold text-dark">Update Title</h3>
              <p class="text-sm text-dark">Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus
                phasellus. Ut augue odio a ac imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus
                id malesuada. Gravida sociis in a donec sed diam porta nulla. Dictum non id in dictum </p>
              <a href="#" class="text-sm text-dark underline">Read More</a>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex  gap-5 border-b border-[#e5e5e5] pb-5">
            <div class="size-32 min-w-32">
              <img src="./img/project-pic.png" alt="pic" class=" max-w-full w-full h-full object-cover">
            </div>
            <div class="flex flex-col gap-2">
              <h3 class="text-xl font-bold text-dark">Update Title</h3>
              <p class="text-sm text-dark">Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus
                phasellus. Ut augue odio a ac imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus
                id malesuada. Gravida sociis in a donec sed diam porta nulla. Dictum non id in dictum </p>
              <a href="#" class="text-sm text-dark underline">Read More</a>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex  gap-5 border-b border-[#e5e5e5] pb-5">
            <div class="size-32 min-w-32">
              <img src="./img/project-pic.png" alt="pic" class=" max-w-full w-full h-full object-cover">
            </div>
            <div class="flex flex-col gap-2">
              <h3 class="text-xl font-bold text-dark">Update Title</h3>
              <p class="text-sm text-dark">Imperdiet lectus tellus in quisque morbi mattis. Odio amet quis tellus
                phasellus. Ut augue odio a ac imperdiet quam pellentesque id. Ultricies at sit facilisis cras non tellus
                id malesuada. Gravida sociis in a donec sed diam porta nulla. Dictum non id in dictum </p>
              <a href="#" class="text-sm text-dark underline">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>