<div class="bg-white lg:my-12 my-8">
  <div class="container max-w-[1340px] w-full mx-auto px-4">

    <h2 class="text-3xl font-bold text-dark mb-5">Tokenomics</h2>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8">

      <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-1 border-y border-[#e5e5e5] py-5">
          <h3 class="text-lg font-bold text-dark">Total Supply:</h3>
          <p class="text-sm text-dark">e.g., 1,000,000 $TARK1 Tokens</p>
          <p class="text-sm text-dark">Limited and finite supply, ensuring scarcity for better tokens will be minted.
          </p>
        </div>

        <div class="flex flex-col gap-1 border-b border-[#e5e5e5] pb-5">
          <h3 class="text-lg font-bold text-dark">Milestone Project:</h3>
          <p class="text-sm text-dark">the contract uses no more than 10 unlocks for each of the 10 project stages</p>
        </div>

        <div class="flex flex-col gap-1 border-b border-[#e5e5e5] pb-5">
          <h3 class="text-lg font-bold text-dark">Profit Sharing for Token Holders:</h3>
          <p class="text-sm text-dark"><strong>Share of Profit fee Profit:</strong> e.g., 20% of the income's net
            profit will allocated towards the liquidity of the $TARK1 token.</p>

          <p class="text-sm text-dark"><strong>Payouts:</strong> Made [e.g., quarterly, upon profit realization] via
            smart contract in [e.g., USDT/USDC] to token holders' wallets.</p>
        </div>

      </div>

      <div class="flex flex-col gap-5">

        <div class="flex flex-col gap-1 border-b lg:border-y border-[#e5e5e5] py-5">
          <h3 class="text-lg font-bold text-dark">Token Allocation:</h3>
          <p class="text-sm text-dark"><strong>Investor Pool:</strong> [e.g., 60-70%] of total supply. For sale to
            investors via [e.g., presale, public sale].</p>
          <p class="text-sm text-dark"><strong>Team & Advisors:</strong> [e.g., 10-15%] of total supply. Subject to
            vesting schedules to ensure long-term commitment.</p>
          <p class="text-sm text-dark"><strong>Film Development & Operations:</strong> [e.g., 10-15%] of total supply.
            Supports marketing, distribution, and operational costs.</p>
          <p class="text-sm text-dark"><strong>Reserve pool:</strong> [e.g., 5-10%] of total supply</p>
        </div>

      </div>

    </div>
  </div>
</div>