<!-- Investments Tab Content -->
<div id="user-investments-tab" class="tab-content hidden flex-1">
  <!-- Header -->
  <!-- <div class="bg-white mb-5">
    <div class="flex items-center justify-between gap-5">
      <h1 class="text-3xl font-semibold text-dark">My Investments</h1>
    </div>
  </div> -->

  <!-- Content -->
  <div class="flex-1">
    <div class="space-y-6 lg:space-y-10">
      <!-- Stake Valuation -->
      <div class="border border-dark rounded-md p-6 mb-6 max-w-[310px] bg-white">
        <p class="text-sm text-dark">Stake valuation</p>
        <p class="text-3xl font-bold mt-1 text-dark">10,000 <span class="text-2xl font-normal text-dark">TARK</span></p>
        <p class="text-dark text-sm">~$20,000</p>
      </div>

      <!-- Funding Section -->
      <div>
        <h3 class="text-2xl lg:text-3xl font-bold mb-4 text-dark">Funding</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
          <!-- Project Card -->
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Funding Section -->
      <div>
        <h3 class="text-2xl lg:text-3xl font-bold mb-4 text-dark">Funding</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
          <!-- Project Card -->
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Refunds Section -->
      <div>
        <h3 class="text-2xl lg:text-3xl font-bold mb-4 text-dark">Refunds</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
          <!-- Project Card -->
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="p-4 flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Action Section -->
      <div>
        <h3 class="text-2xl lg:text-3xl font-bold mb-4 text-dark">Action</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
          <!-- Project Card -->
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Cut Section -->
      <div>
        <h3 class="text-2xl lg:text-3xl font-bold mb-4 text-dark">Cut</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
          <!-- Project Card -->
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white border-b border-[#e5e5e5] overflow-hidden flex flex-col gap-4 pb-5">
            <img src="/img/project-pic.png" alt="Project" class="w-full h-[310px] object-cover">
            <div class="flex flex-col gap-5 flex-grow">
              <div class="flex items-start justify-between gap-5">
                <div class="flex flex-col gap-2">
                  <h3 class="text-lg font-bold text-dark">Project Title 1</h3>
                  <p class="text-sm text-dark">Founder name: John Doe</p>
                  <p class="text-sm text-dark">UK, preprod, comedy</p>
                </div>
                <div class="flex items-center gap-1">
                  <p class="text-lg font-bold text-dark">0.2 USDC</p>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <div class="flex items-center gap-1 flex-wrap">
                  <div class="flex items-center gap-1">
                    <img src="/img/icons/check-1.svg" alt="check" class="size-4">
                    <p class="text-sm font-bold text-dark">$20,000</p>
                  </div>
                  <p class="text-sm text-dark">of $1,000,000 invested.</p>
                </div>
                <div class="w-full h-1 bg-[#e8e8e8]">
                  <div class="w-[30%] bg-dark h-1"></div>
                </div>
              </div>
              <div class="mt-auto space-y-1">
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">My contribution:</p>
                  <p class="font-bold text-dark text-sm text-right">$2,000</p>
                </div>
                <div class="flex justify-between text-sm">
                  <p class="font-bold text-dark text-sm">In Wallet:</p>
                  <p class="font-bold text-dark text-sm text-right">10 000 TARK</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>